.examples-list {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
     @include tablet {
       margin-top: 30px;
     }
    @include desktop {
      margin-top: 50px;
    }
  }
  
  .examples-item {
    // width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    @include tablet {
    width: calc((100% - 30px) / 2);
    display: grid;
    flex-direction: column;
    height: 100%;
    }
    @include desktop {
    max-width: calc((100% - 60px) / 3);
   }
    background-color: var(--normal-color); 
    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
        transform: translateY(0);
        transition: var(--timing) linear;
        
      cursor: pointer;
    }
   }

   .examples-item:hover .examples-text {
     transform: translateY(0);
     transition: transform 250ms linear;
     cursor: pointer;
   }
  
  
  .examples-layout {
    position: relative;
    overflow: hidden;
  }
  
  .examples-text {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 18px;
    color: #ffffff;
    font-weight: 400;
    line-height: 1.6;
    background-color: rgba(33, 150, 243, 0.9);
    padding: 40px;
    height: 100%;
    transform: translateY(100%);
    transition: transform var(--timing) var(--cubic);
   }
  
   
  
  .examples-subtitle {
    // flex-grow: 1;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
  }
  
  .examples-ph {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--minor-color);
  }
  
  .examples-frame {
    padding: 20px 24px 20px 24px;
    border: 1px solid #eeeeee;
    border-top: none;
    // flex-grow: 1;
  }
  